fieldset {margin:20px 0;}
.hide {display:none;}

fieldset {
  font-size: 1em;
  font-family: "Segoe UI"
}

legend {
  font-size: 1.5em;
  font-family: "Segoe UI"  
}


body {
    background-color: #242424;
    color: rgb(245, 243, 243);
}

footer {
  font-size: 1em;
  font-family: "Segoe UI";
  color: #269b6e;
}


.header {
  padding: .1em;
  text-align: center;
  background: #269b6e;
  color: white;
  font-size: 1.5em;
  font-family: "Segoe UI"
}